{%- comment -%}
  Parameters
  labels: An array of label strings for the accordion items
  contents: An array of content strings for the accordion items
  modifiers: (optional) space separated list of BEM modifiers without block name eg. "title-below no-image"
  open_first: boolean. Default is true
  multi: boolean. Default is false
  unique: (optional) String, a unique identifier to prevent duplicate IDs where component is used multiple times
  rte:(optional) Boolean. If true, wraps the content in a .rte div
{%- endcomment -%}
{% liquid
  assign classes = 'accordion'

  if modifiers
    assign split_modifiers = modifiers | split: ' '

    for modifier in split_modifiers
      assign classes = classes | append: ' accordion--' | append: modifier
    endfor
  endif

  assign accordion_index = 1
  assign list_index = 0

  if unique
    assign unique = unique | prepend: '-'
  endif
%}

<div class="{{ classes }}">
  {%- for label in labels -%}
    {% liquid
      assign trigger_id = 'accordion-trigger-' | append: accordion_index | append: unique
      assign panel_id = 'accordion-panel-' | append: accordion_index | append: unique
      assign show_panel = false
      if open_first == true and list_index == 0
        assign show_panel = true
      endif
    %}
    <div class="accordion__label" role="heading">
      <button
        type="button"
        class="accordion__trigger body-medium btn-none"
        id="{{ trigger_id }}"
        {% if multi == true %}
          aria-multi="1"
        {% endif %}
        aria-controls="{{ panel_id }}"
        aria-expanded="{{ show_panel }}"
      >
        {{ labels[list_index] }}
        <span class="accordion__trigger-indicator">
          {%- render 'icon-plus' -%}
          {%- render 'icon-minus' -%}
        </span>
      </button>
    </div>
    <div
      class="accordion__panel{% if show_panel %} show-panel{% endif %}"
      id="{{ panel_id }}"
      role="region"
      aria-labelledby="{{ trigger_id }}"
      {% if show_panel %}
        style="height: auto"
      {% endif %}
    >
      <div class="accordion__body">
        {% if rte %}<div class="rte">{% endif %}
        {% if type == 'html' %}
          {{ contents[list_index].html }}
        {% else %}
          {{ contents[list_index] }}
        {% endif %}
        {% if rte %}</div>{% endif %}
        {% if labels[list_index] == 'Reviews' %}
          <div class="custom" >
            {% for block in section.blocks %}
              {% case block.type %}
                {% when '@app' %}
                  {% render block %}
              {% endcase %}
            {% endfor %}
          </div>
          {% comment %} <div class="yotpo-widget-instance" data-yotpo-instance-id="1076132" data-yotpo-product-id="{{product.id}}"></div> {% endcomment %}
        {% endif %}
      </div>
    </div>

    {% assign accordion_index = accordion_index | plus: 1 %}
    {% assign list_index = list_index | plus: 1 %}
  {%- endfor -%}
</div>
