{%- liquid
  assign limit = limit | default: 3
  assign count = 0

  assign remaining = stitching_products.count | minus: limit

  assign show_current_product_first = show_current_product_first | default: false, allow_false: true
  if show_current_product_first
    assign limit = limit | minus: 1
  endif
%}

{%- capture swatches -%}
  {%- for stitching_product in stitching_products -%}
    {%- liquid
      if count == limit
        break
      endif

      if show_current_product_first and stitching_product == product
        continue
      endif

      assign swatch = stitching_product.metafields.stitching.swatch.value
      assign count = count | plus: 1

      assign swatch_label = swatch.name

      # Fallback if swatch is not assigned
      if swatch_label == blank
        assign color_option = stitching_product.options_with_values | where: 'name', 'Color' | first
        if color_option == blank
          assign color_option = stitching_product.options_with_values | where: 'name', 'Colour' | first
        endif
        assign swatch_label = color_option.values[0] | default: 'none'
      endif
    -%}

    <li>
      <a
        href="{{ stitching_product.url }}"
        class="swatch swatch--{{ swatch_label | handleize }}{% if stitching_product == product %} swatch--active{% endif %}"
        aria-label="{{ stitching_product.title }} Swatch"
        data-product="{{ stitching_product.handle }}"
        data-product-swatch
      ></a>
    </li>
  {%- endfor -%}
{%- endcapture -%}

{%- if count > 0 -%}
  <ul class="swatches {{ class }} list-none" style="display:none" data-product-swatches>
    {%- if show_current_product_first -%}
      <li>
        {%- liquid
          assign swatch_label = product.metafields.stitching.swatch.value.name

          # Fallback if swatch is not assigned
          if swatch_label == blank
            assign color_option = product.options_with_values | where: 'name', 'Color' | first
            if color_option == blank
              assign color_option = product.options_with_values | where: 'name', 'Colour' | first
            endif
            assign swatch_label = color_option.values[0] | default: 'none'
          endif
        -%}

        <a
          href="{{ product.url }}"
          class="swatch swatch--{{ swatch_label | handleize }} swatch--active"
          aria-label="{{ product.title }} Swatch"
          data-product="{{ product.handle }}"
          data-product-swatch
        ></a>
      </li>
    {%- endif -%}
    {{ swatches }}

    {%- if remaining > 0 -%}
      <li class="swatches__remaining hide--max-lg">+{{ remaining }}</li>
    {%- endif -%}
  </ul>
{%- endif -%}
