{% include 'shogun-content-handler' %}
{% render 'shogun-content-handler' %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- render 'favicon' -%}

    {% liquid
      render 'css-variables'
      render 'vite-tag' with '@/styles/layout/password.scss', preload_stylesheet: true
      render 'vite-tag' with '@/scripts/layout/password.js'
    %}

    {{ content_for_header }}

    {% liquid
      render 'social-meta-tags'
      render 'gtm', position: 'head'
    %}

    {% render 'shogun-head' %}
  </head>

  <body class="template-password">
    {% render 'gtm', position: 'body' %}

    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    {% liquid
      render 'json-ld'
    %}
  </body>
</html>
