{% liquid
  assign blog = blogs[section.settings.blog]

  assign text_color = section.settings.text_color
  assign text_color_alpha = text_color.alpha
  if text_color_alpha == 0
    assign text_color = blank
  endif
  assign background_color = section.settings.background_color
  assign background_color_alpha = background_color.alpha
  if background_color_alpha == 0
    assign background_color = blank
  endif

  assign pre_title = section.settings.pre_title
  assign title = section.settings.title
  assign post_title = section.settings.post_title
  assign content = section.settings.content
  assign button_label_1 = section.settings.button_label_1
  assign button_link_1 = section.settings.button_link_1
  assign button_style_1 = section.settings.button_style_1
  assign button_label_2 = section.settings.button_label_2
  assign button_link_2 = section.settings.button_link_2
  assign button_style_2 = section.settings.button_style_2

  assign show_button_1 = false
  if button_label_1 != blank and button_link_1 != blank
    assign show_button_1 = true
  endif
  assign show_button_2 = false
  if button_label_2 != blank and button_link_2 != blank
    assign show_button_2 = true
  endif

  assign show_section = false
  if pre_title != blank or title != blank or post_title != blank or content != blank or show_button_1 or show_button_2 or blog.articles.size > 0
    assign show_section = true
  endif
%}

{% if show_section %}
  {%- capture section_styles -%}
    {%- if text_color != blank -%}--text-color: {{ text_color }};{%- endif -%}
    {%- if background_color != blank -%}--background-color: {{ background_color }};{%- endif -%}
  {%- endcapture -%}

  <section
    class="section section-featured-blog"
    data-section-id="{{ section.id }}"
    data-section-type="featured-blog"
    {% if section_styles != blank %}
      style="{{ section_styles }}"
    {% endif %}
  >
    <div class="container">
      {% render 'section-content',
        text_color: text_color,
        pre_title: pre_title,
        title: title,
        post_title: post_title,
        content: content,
        show_button_1: show_button_1,
        button_label_1: button_label_1,
        button_link_1: button_link_1,
        button_style_1: button_style_1,
        show_button_2: show_button_2,
        button_label_2: button_label_2,
        button_link_2: button_link_2,
        button_style_2: button_style_2
      %}

      <ul class="featured-blog__grid">
        {% for article in blog.articles limit: section.settings.post_limit %}
          <li class="featured-blog__grid-item">
            {% render 'article-card', article: article, blog: blog %}
          </li>
        {% else %}
          {% for i in (1..section.settings.post_limit) %}
            <li class="featured-blog__grid-item">
              <h3>
                <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
              </h3>

              {% if section.settings.blog_show_author %}
                <span>{{ 'homepage.onboarding.blog_author' | t }}</span>
              {% endif %}

              {% if section.settings.blog_show_date %}
                <p>
                  {{ 'homepage.onboarding.blog_date' | t }}
                </p>
              {% endif %}

              <div>{{ 'homepage.onboarding.blog_excerpt' | t }}</div>

              <a href="#">{{ 'blogs.article.read_more' | t }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

<style>
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.bottom_margin_mobile }}px;
  }

  @media only screen and (min-width: {{ settings.grid_medium }}px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.bottom_margin_desktop }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Featured Blog",
    "class": "featured-blog",
    "settings": [
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colour"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text colour"
      },
      {
        "type": "inline_richtext",
        "id": "pre_title",
        "label": "Pre title"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "Blog posts"
      },
      {
        "type": "inline_richtext",
        "id": "post_title",
        "label": "Post title"
      },
      {
        "type": "inline_richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "First button label",
        "info": "Leave the label or link blank to hide the button."
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "First button link",
        "info": "Leave the label or link blank to hide the button."
      },
      {
        "type": "select",
        "id": "button_style_1",
        "label": "First button style",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Second button label",
        "info": "Leave the label or link blank to hide the button."
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Second button link",
        "info": "Leave the label or link blank to hide the button."
      },
      {
        "type": "select",
        "id": "button_style_2",
        "label": "Second button style",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "text",
            "label": "Text"
          }
        ]
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
        "type": "range",
        "id": "bottom_margin_desktop",
        "min": 0,
        "max": 120,
        "step": 8,
        "unit": "px",
        "label": "Bottom Margin - Desktop",
        "default": 0
      },
      {
        "type": "range",
        "id": "bottom_margin_mobile",
        "min": 0,
        "max": 120,
        "step": 8,
        "unit": "px",
        "label": "Bottom Margin - Mobile",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Featured Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ],
    "enabled_on": {
      "templates": ["*"]
    }
  }
{% endschema %}
