{% capture section_settings %}{"autoplay": {{ section.settings.autoplay | json }}, "infinite": {{ section.settings.infinite | json }} }{% endcapture %}
{% # prettier-ignore-attribute %}
<div
  data-section-id="{{ section.id }}"
  data-section-type="hero-slider"
  data-section-settings='{{ section_settings }}'
>
  <div
    class="hero-slider hero-slider--{{ section.settings.slider_height_type }}{% if section.blocks.size < 2 %} single-slide{% endif %}"
    data-slider-container
  >
    {%- for block in section.blocks -%}
      {%- liquid
        assign lazy = true
        if forloop.first and section.index == 1
          assign lazy = false
        endif

        capture img_alt
          if block.settings.background_image.alt != blank
            echo block.settings.background_image.alt
          elsif block.settings.background_image_desktop.alt != blank
            echo block.settings.background_image_desktop.alt
          elsif block.settings.title != blank
            echo block.settings.title
          elsif block.settings.body != blank
            echo block.settings.body
          endif
        endcapture

        capture img_alt_2
          if block.settings.background_image_2.alt != blank
            echo block.settings.background_image_2.alt
          elsif block.settings.background_image_desktop_2.alt != blank
            echo block.settings.background_image_desktop_2.alt
          elsif block.settings.title_2 != blank
            echo block.settings.title_2
          elsif block.settings.body_2 != blank
            echo block.settings.body_2
          endif
        endcapture

        assign text_color = block.settings.text_color
        assign text_color_desktop = block.settings.text_color_desktop

        assign title = block.settings.title
        assign content = block.settings.content
        assign button_label_1 = block.settings.button_label_1
        assign button_link_1 = block.settings.button_link_1
        assign button_style_1 = block.settings.button_style_1

        assign title_2 = block.settings.title_2
        assign content_2 = block.settings.content_2
        assign button_label_2 = block.settings.button_label_2
        assign button_link_2 = block.settings.button_link_2
        assign button_style_2 = block.settings.button_style_2

        assign show_button_1 = false
        if button_label_1 != blank and button_link_1 != blank
          assign show_button_1 = true
        endif

        assign show_button_2 = false
        if button_label_2 != blank and button_link_2 != blank
          assign show_button_2 = true
        endif

        assign link_type = block.settings.link_type
        assign link_type_2 = block.settings.link_type_2

        assign container_element = 'div'
        assign cta_element = 'a'
        assign container_link = ''

        assign container_element_2 = 'div'
        assign cta_element_2 = 'a'
        assign container_link_2 = ''

        # If the full slide should be linked
        if link_type == 'section'
          if show_button_1
            assign container_link = button_link_1
          elsif button_link_1 != blank
            # If no buttons are shown but any links are still set, link the full slide to the first link
            assign container_link = button_link_1
          endif

          if container_link != blank
            assign container_element = 'a'
            assign cta_element = 'span'
          endif
        endif
        if link_type_2 == 'section'
          if show_button_2
            assign container_link_2 = button_link_2
          elsif button_link_2 != blank
            # If no buttons are shown but any links are still set, link the full slide to the first link
            assign container_link_2 = button_link_2
          endif

          if container_link_2 != blank
            assign container_element_2 = 'a'
            assign cta_element_2 = 'span'
          endif
        endif

        capture container_classes
          echo block.settings.text_align | append: ' '
          echo block.settings.text_align_desktop | append: ' '
          echo block.settings.content_position | append: ' '
          echo block.settings.content_position_desktop | append: ' '
        endcapture

        capture container_classes_2
          echo block.settings.text_align_2 | append: ' '
          echo block.settings.text_align_desktop_2 | append: ' '
          echo block.settings.content_position_2 | append: ' '
          echo block.settings.content_position_desktop_2 | append: ' '
        endcapture

        assign show_second_image_desktop = block.settings.show_second_image_desktop
        assign show_second_image_mobile = block.settings.show_second_image_mobile

        if block.settings.background_image_2 == blank
          assign show_second_image_mobile = false
          if block.settings.background_image_desktop_2 == blank
            assign show_second_image_desktop = false
          endif
        endif

        assign use_split_content = block.settings.use_split_content
      -%}

      {% capture image_content %}
        <{{ container_element }}
          class="hero-slide__container {{ container_classes }}"
          {% if container_element == 'a' %}
            href="{{ container_link }}"
          {% endif %}
        >
          <div class="hero-slide__content">
            {% render 'section-content',
              text_color: text_color,
              title: title,
              content: content,
              content_size: 'body-medium',
              show_button_1: show_button_1,
              button_label_1: button_label_1,
              button_link_1: button_link_1,
              button_style_1: button_style_1,
              cta_element: cta_element
            %}
          </div>
        </{{ container_element }}>
      {% endcapture %}

      <div
        class="section hero-slide shopify-block-{{ block.id }}"
        {{ block.shopify_attributes }}
        data-slide
        {% if block.type == 'video' %}
          data-video-slide
        {% endif %}
        style="
          --text-color: var({{ text_color }});
          --desktop-text-color: var({{ text_color_desktop }});
        "
      >
        {%- if block.type == 'video' -%}
          {%- liquid
            assign video_desktop = block.settings.video_desktop
            assign poster_image_desktop = block.settings.poster_image_desktop
            assign video_mobile = block.settings.video_mobile
            assign poster_image_mobile = block.settings.poster_image_mobile

            assign video_desktop_class = null
            assign video_mobile_class = null
            assign video_desktop_media_type = null
            assign video_mobile_media_type = null

            if video_desktop != blank and video_mobile != blank
              assign video_desktop_class = 'hide--max-md'
              assign video_mobile_class = 'hide--min-md'
              assign video_desktop_media_type = 'desktop'
              assign video_mobile_media_type = 'mobile'
            endif
          -%}

          {% if video_desktop != blank or video_mobile != blank %}
            <div class="hero-background-video" data-background-video>
              {% if video_desktop != blank %}
                {%- render 'component-video',
                  video: video_desktop,
                  autoplay: false,
                  controls: false,
                  loop: true,
                  muted: true,
                  aspect_ratio: 'portrait',
                  media_type: video_desktop_media_type,
                  wrapper_class: video_desktop_class
                -%}

                {% if poster_image_desktop != blank %}
                  <div class="hero-background-video__poster">
                    {%- render 'component-image',
                      image: poster_image_desktop,
                      max_width: 1600,
                      sizes: '100vw',
                      aspect_ratio: 'portrait'
                    -%}
                  </div>
                {% endif %}
              {% endif %}

              {% if video_mobile != blank %}
                {%- render 'component-video',
                  video: video_mobile,
                  autoplay: false,
                  controls: false,
                  loop: true,
                  muted: true,
                  aspect_ratio: 'portrait',
                  media_type: video_mobile_media_type,
                  wrapper_class: video_mobile_class
                -%}

                {% if poster_image_mobile != blank %}
                  <div class="hero-background-video__poster">
                    {%- render 'component-image',
                      image: poster_image_mobile,
                      max_width: 1280,
                      sizes: '100vw',
                      aspect_ratio: 'portrait'
                    -%}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        {%- else -%}
          <div class="hero-slider__image-container">
            <div class="hero-slider__image">
              {% render 'component-picture',
                image_mobile: block.settings.background_image,
                image_desktop: block.settings.background_image_desktop,
                img_alt: img_alt,
                max_width_mobile: 1600,
                lazy: lazy
              %}
              {% if use_split_content %}
                {{ image_content }}
              {% endif %}
            </div>

            {% if show_second_image_desktop %}
              <div class="hero-slider__image{% unless show_second_image_mobile %} hide--max-md{% endunless %}">
                {% render 'component-picture',
                  image_mobile: block.settings.background_image_2,
                  image_desktop: block.settings.background_image_desktop_2,
                  img_alt: img_alt_2,
                  max_width_mobile: 1600,
                  lazy: lazy
                %}
                {% if use_split_content %}
                  {%- if container_element_2 == 'a' -%}
                    <a href="{{ container_link_2 }}" class="hero-slide__container {{ container_classes_2 }}">
                  {%- else -%}
                    <div class="hero-slide__container {{ container_classes_2 }}">
                  {%- endif -%}
                  <div class="hero-slide__content">
                    {% render 'section-content',
                      text_color: text_color,
                      title: title_2,
                      content: content_2,
                      content_size: 'body-medium',
                      show_button_1: show_button_2,
                      button_label_1: button_label_2,
                      button_link_1: button_link_2,
                      button_style_1: button_style_2,
                      cta_element: cta_element_2
                    %}
                  </div>
                  {%- if container_element_2 == 'a' -%}
                    </a>
                  {%- else -%}
                    </div>
                  {%- endif -%}
                {% endif %}
              </div>
            {% endif %}
          </div>
        {%- endif -%}

        {% unless use_split_content %}
          {{ image_content }}
        {% endunless %}
      </div>
    {%- endfor -%}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.bottom_margin_mobile }}px;
  }

  @media only screen and (min-width: {{ settings.grid_medium }}px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.bottom_margin_desktop }}px;
    }
  }
</style>

{% render 'vite-tag' with '@/scripts/sections/hero-slider.js' %}

{% schema %}
  {
    "name": "Hero Slider",
    "class": "hero-slider-section",
    "settings": [
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "select",
        "id": "slider_height_type",
        "label": "Slider height type",
        "default": "natural",
        "options": [
          {
            "value": "full",
            "label": "Window height"
          },
          {
            "value": "natural",
            "label": "Natural"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay slider",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "infinite",
        "label": "Infinite loop slider",
        "default": false
      },
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
        "type": "range",
        "id": "bottom_margin_desktop",
        "min": 0,
        "max": 120,
        "step": 8,
        "unit": "px",
        "label": "Bottom Margin - Desktop",
        "default": 0
      },
      {
        "type": "range",
        "id": "bottom_margin_mobile",
        "min": 0,
        "max": 120,
        "step": 8,
        "unit": "px",
        "label": "Bottom Margin - Mobile",
        "default": 0
      }
    ],
    "blocks": [
      {
        "name": "Image Slide",
        "type": "image",
        "settings": [
          {
            "type": "header",
            "content": "Image settings"
          },
          {
            "type": "paragraph",
            "content": "Use 2:3 for portrait and 3:2 for landscape. When image 2 is set on desktop, it is recommended to use 2:3 for both images. When 2 images are set on mobile, they will stack on top of each other."
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background image 1 - mobile"
          },
          {
            "type": "image_picker",
            "id": "background_image_desktop",
            "label": "Background image 1 - desktop"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "checkbox",
            "id": "show_second_image_desktop",
            "label": "Show second image on desktop",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_second_image_mobile",
            "label": "Show second image on mobile",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "background_image_2",
            "label": "Background image 2 - mobile"
          },
          {
            "type": "image_picker",
            "id": "background_image_2_desktop",
            "label": "Background image 2 - desktop"
          },
          {
            "type": "header",
            "content": "Slide content styles"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text colour - mobile",
            "default": "--color-black",
            "options": [
              {
                "value": "--color-primary-20",
                "label": "Primary 20"
              },
              {
                "value": "--color-primary-40",
                "label": "Primary 40 (Sand)"
              },
              {
                "value": "--color-secondary-90",
                "label": "Secondary 90 (Chocolate)"
              },
              {
                "value": "--color-white",
                "label": "White"
              },
              {
                "value": "--color-black",
                "label": "Black"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_desktop",
            "label": "Text colour - desktop",
            "default": "--color-black",
            "options": [
              {
                "value": "--color-primary-20",
                "label": "Primary 20"
              },
              {
                "value": "--color-primary-40",
                "label": "Primary 40 (Sand)"
              },
              {
                "value": "--color-secondary-90",
                "label": "Secondary 90 (Chocolate)"
              },
              {
                "value": "--color-white",
                "label": "White"
              },
              {
                "value": "--color-black",
                "label": "Black"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide content"
          },
          {
            "type": "checkbox",
            "id": "use_split_content",
            "label": "Use split content",
            "info": "When using 2 images, tick this box to display separate contents in each image",
            "default": false
          },
          {
            "type": "header",
            "content": "Slide Content 1"
          },
          {
            "type": "paragraph",
            "content": "also use this when not using split content"
          },
          {
            "type": "radio",
            "id": "link_type",
            "label": "Slide link type",
            "options": [
              {
                "value": "section",
                "label": "Whole slide is link"
              },
              {
                "value": "cta",
                "label": "Link is button only"
              }
            ]
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "Talk about your brand"
          },
          {
            "type": "inline_richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_label_1",
            "label": "Button label",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Button link",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "select",
            "id": "button_style_1",
            "label": "Button Style",
            "default": "text",
            "options": [
              {
                "value": "text",
                "label": "Text"
              },
              {
                "value": "link",
                "label": "Underlined Text"
              }
            ]
          },
          {
            "type": "header",
            "content": "Content alignment"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "Content position - mobile",
            "default": "justify-center align-end",
            "options": [
              {
                "value": "justify-center align-start",
                "label": "Top"
              },
              {
                "value": "justify-center align-center",
                "label": "Centre"
              },
              {
                "value": "justify-center align-end",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_position_desktop",
            "label": "Content position - desktop",
            "default": "desktop-justify-start desktop-align-end",
            "options": [
              {
                "value": "desktop-justify-start desktop-align-start",
                "label": "Left Top"
              },
              {
                "value": "desktop-justify-center desktop-align-start",
                "label": "Centre Top"
              },
              {
                "value": "desktop-justify-end desktop-align-start",
                "label": "Right Top"
              },
              {
                "value": "desktop-justify-start desktop-align-center",
                "label": "Left Centre"
              },
              {
                "value": "desktop-justify-center desktop-align-center",
                "label": "Centre Centre"
              },
              {
                "value": "desktop-justify-end desktop-align-center",
                "label": "Right Centre"
              },
              {
                "value": "desktop-justify-start desktop-align-end",
                "label": "Left Bottom"
              },
              {
                "value": "desktop-justify-center desktop-align-end",
                "label": "Centre Bottom"
              },
              {
                "value": "desktop-justify-end desktop-align-end",
                "label": "Right Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text align - mobile",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Centre"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_desktop",
            "label": "Text align - desktop",
            "default": "text-left--min-md",
            "options": [
              {
                "value": "text-left--min-md",
                "label": "Left"
              },
              {
                "value": "text-center--min-md",
                "label": "Centre"
              },
              {
                "value": "text-right--min-md",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide Content 2"
          },
          {
            "type": "radio",
            "id": "link_type_2",
            "label": "Slide link type",
            "options": [
              {
                "value": "section",
                "label": "Whole slide is link"
              },
              {
                "value": "cta",
                "label": "Link is button only"
              }
            ]
          },
          {
            "type": "inline_richtext",
            "id": "title_2",
            "label": "Title",
            "default": "Talk about your brand"
          },
          {
            "type": "inline_richtext",
            "id": "content_2",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "Button label",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "Button link",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "select",
            "id": "button_style_2",
            "label": "Button Style",
            "default": "text",
            "options": [
              {
                "value": "text",
                "label": "Text"
              },
              {
                "value": "link",
                "label": "Underlined Text"
              }
            ]
          },
          {
            "type": "header",
            "content": "Content alignment"
          },
          {
            "type": "select",
            "id": "content_position_2",
            "label": "Content position - mobile",
            "default": "justify-center align-end",
            "options": [
              {
                "value": "justify-center align-start",
                "label": "Top"
              },
              {
                "value": "justify-center align-center",
                "label": "Centre"
              },
              {
                "value": "justify-center align-end",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_position_desktop_2",
            "label": "Content position - desktop",
            "default": "desktop-justify-start desktop-align-end",
            "options": [
              {
                "value": "desktop-justify-start desktop-align-start",
                "label": "Left Top"
              },
              {
                "value": "desktop-justify-center desktop-align-start",
                "label": "Centre Top"
              },
              {
                "value": "desktop-justify-end desktop-align-start",
                "label": "Right Top"
              },
              {
                "value": "desktop-justify-start desktop-align-center",
                "label": "Left Centre"
              },
              {
                "value": "desktop-justify-center desktop-align-center",
                "label": "Centre Centre"
              },
              {
                "value": "desktop-justify-end desktop-align-center",
                "label": "Right Centre"
              },
              {
                "value": "desktop-justify-start desktop-align-end",
                "label": "Left Bottom"
              },
              {
                "value": "desktop-justify-center desktop-align-end",
                "label": "Centre Bottom"
              },
              {
                "value": "desktop-justify-end desktop-align-end",
                "label": "Right Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_2",
            "label": "Text align - mobile",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Centre"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_desktop_2",
            "label": "Text align - desktop",
            "default": "text-left--min-md",
            "options": [
              {
                "value": "text-left--min-md",
                "label": "Left"
              },
              {
                "value": "text-center--min-md",
                "label": "Centre"
              },
              {
                "value": "text-right--min-md",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "name": "Video Slide",
        "type": "video",
        "settings": [
          {
            "type": "header",
            "content": "Mobile Video Settings"
          },
          {
            "type": "video",
            "id": "video_mobile",
            "label": "Video"
          },
          {
            "type": "image_picker",
            "id": "poster_image_mobile",
            "label": "Poster Image",
            "info": "Image displayed until video is downloaded and starts playing."
          },
          {
            "type": "header",
            "content": "Desktop Video Settings"
          },
          {
            "type": "video",
            "id": "video_desktop",
            "label": "Video"
          },
          {
            "type": "image_picker",
            "id": "poster_image_desktop",
            "label": "Poster Image",
            "info": "Image displayed until video is downloaded and starts playing."
          },
          {
            "type": "header",
            "content": "Slide content"
          },
          {
            "type": "radio",
            "id": "link_type",
            "label": "Slide link type",
            "options": [
              {
                "value": "section",
                "label": "Whole slide is link"
              },
              {
                "value": "cta",
                "label": "Link is button only"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text colour - mobile",
            "default": "--color-black",
            "options": [
              {
                "value": "--color-primary-20",
                "label": "Primary 20"
              },
              {
                "value": "--color-primary-40",
                "label": "Primary 40 (Sand)"
              },
              {
                "value": "--color-secondary-90",
                "label": "Secondary 90 (Chocolate)"
              },
              {
                "value": "--color-white",
                "label": "White"
              },
              {
                "value": "--color-black",
                "label": "Black"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_desktop",
            "label": "Text colour - desktop",
            "default": "--color-black",
            "options": [
              {
                "value": "--color-primary-20",
                "label": "Primary 20"
              },
              {
                "value": "--color-primary-40",
                "label": "Primary 40 (Sand)"
              },
              {
                "value": "--color-secondary-90",
                "label": "Secondary 90 (Chocolate)"
              },
              {
                "value": "--color-white",
                "label": "White"
              },
              {
                "value": "--color-black",
                "label": "Black"
              }
            ]
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "Talk about your brand"
          },
          {
            "type": "inline_richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_label_1",
            "label": "Button label",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Button link",
            "info": "Leave the label or link blank to hide the button."
          },
          {
            "type": "select",
            "id": "button_style_1",
            "label": "Button Style",
            "default": "text",
            "options": [
              {
                "value": "text",
                "label": "Text"
              },
              {
                "value": "link",
                "label": "Underlined Text"
              }
            ]
          },
          {
            "type": "header",
            "content": "Content alignment"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "Content position - mobile",
            "default": "justify-center align-end",
            "options": [
              {
                "value": "justify-center align-start",
                "label": "Top"
              },
              {
                "value": "justify-center align-center",
                "label": "Centre"
              },
              {
                "value": "justify-center align-end",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_position_desktop",
            "label": "Content position - desktop",
            "default": "desktop-justify-start desktop-align-end",
            "options": [
              {
                "value": "desktop-justify-start desktop-align-start",
                "label": "Left Top"
              },
              {
                "value": "desktop-justify-center desktop-align-start",
                "label": "Centre Top"
              },
              {
                "value": "desktop-justify-end desktop-align-start",
                "label": "Right Top"
              },
              {
                "value": "desktop-justify-start desktop-align-center",
                "label": "Left Centre"
              },
              {
                "value": "desktop-justify-center desktop-align-center",
                "label": "Centre Centre"
              },
              {
                "value": "desktop-justify-end desktop-align-center",
                "label": "Right Centre"
              },
              {
                "value": "desktop-justify-start desktop-align-end",
                "label": "Left Bottom"
              },
              {
                "value": "desktop-justify-center desktop-align-end",
                "label": "Centre Bottom"
              },
              {
                "value": "desktop-justify-end desktop-align-end",
                "label": "Right Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text align - mobile",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Centre"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_desktop",
            "label": "Text align - desktop",
            "default": "text-left--min-md",
            "options": [
              {
                "value": "text-left--min-md",
                "label": "Left"
              },
              {
                "value": "text-center--min-md",
                "label": "Centre"
              },
              {
                "value": "text-right--min-md",
                "label": "Right"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Slider",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ],
    "enabled_on": {
      "templates": ["*"]
    }
  }
{% endschema %}
