<div class="account-template" data-section-id="{{ section.id }}" data-section-type="main-customers-reset-password">
  <div class="container container--sm">
    {% form 'reset_customer_password' %}
      <div class="page-header">
        <h1>{{ 'customer.reset_password.title' | t }}</h1>
        <p>{{ 'customer.reset_password.subtext' | t }}</p>
      </div>

      {% if form.errors contains 'form' %}
        <div class="form__error-message">
          {{ form.errors.messages.form }}
        </div>
      {% endif %}

      <div class="form__group">
        <label for="ResetPassword">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >

        {% if form.errors contains 'password' %}
          <div class="input__error-message">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {% endif %}
      </div>

      <div class="form__group">
        <label for="PasswordConfirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        >

        {% if form.errors contains 'password_confirmation' %}
          <div class="input__error-message">
            {{ form.errors.translated_fields.password_confirmation | capitalize }}
            {{ form.errors.messages.password_confirmation }}
          </div>
        {% endif %}
      </div>

      <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Reset Password",
    "enabled_on": {
      "templates": ["customers/reset_password"]
    }
  }
{% endschema %}
