<div data-section-id="{{ section.id }}" data-section-type="main-password" class="password-section">
  <div class="password__image">
    {%- if section.settings.password_background_image != blank -%}
      {%- render 'component-picture',
        image_mobile: section.settings.password_background_image,
        image_desktop: section.settings.password_background_image,
        img_alt: section.settings.password_background_image.alt,
        max_width_mobile: 1600,
        class: 'password-background-image',
        lazy: false
      -%}
    {%- endif -%}
  </div>
  <div class="password__container">
    <div class="password__content">
      <header class="password__header">
        <h1 class="logo-image">
          {% render 'logo', title: shop.name %}
        </h1>
      </header>

      {%- assign title = 'general.password_page.title' | t -%}
      {% if title != blank %}
        <h2>{{ title }}</h2>
      {%- endif -%}

      {% if shop.password_message != blank %}
        <p>{{ shop.password_message }}</p>
      {% endif %}

      {%- if section.settings.password_include_subscribe -%}
        {% form 'customer', class: 'password__form' %}
          <h4 class="h6">{{ 'general.password_page.signup_form_heading' | t }}</h4>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="password__form-content">
            <input
              type="email"
              name="contact[email]"
              id="Email"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
              aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
            >
            <button type="submit" name="commit" class="btn">
              {{ 'general.password_page.signup_form_submit' | t }}
            </button>
          </div>

          {% if form.errors contains 'form' %}
            <div class="form__error-message">
              {{ form.errors.messages.form }}
            </div>
          {% endif %}

          {% if form.errors contains 'email' %}
            <div class="input__error-message">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </div>
          {% endif %}

          {% if form.posted_successfully? %}
            <div class="form__success-message">
              {{ 'general.password_page.signup_form_success' | t }}
            </div>
          {% else %}

          {% endif %}
        {% endform %}
      {%- endif -%}

      <div class="password__footer">
        <button type="button" data-password-modal-trigger class="btn btn--link">
          {% render 'icon-lock' %}
          {{ 'general.password_page.password_link' | t }}
        </button>
      </div>
    </div>
  </div>

  {% capture password_content %}
    <div class="password__login">
      <h2 class="h6">{{ 'general.password_page.login_form_heading' | t }}</h2>

      {% form 'storefront_password', class: 'password__form' %}
        <div class="password__form-content">
          <input type="password"
            name="password"
            id="Password"
            class="{% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            aria-label="{{ 'general.password_page.login_form_password_label' | t }}"
          >

          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>

        {% if form.errors contains 'form' %}
          <div class="form__error-message">
            {{ form.errors.messages.form }}
          </div>
        {% endif %}

        {% if form.errors contains 'password' %}
          <div class="input__error-message">
            {{ form.errors.translated_fields.name | capitalize }}
            {{ form.errors.messages.name }}
          </div>
        {% endif %}

        {%- liquid
          assign modal_visible = false
          if form.errors
            assign modal_visible = true
          endif
        -%}
      {% endform %}

      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  {% endcapture %}

  {% assign password_label = 'general.password_page.login_form_heading' | t %}
  {% render 'component-modal-dialog',
    modal_class: 'password sm',
    modal_id: 'password',
    modal_label: password_label,
    modal_desc: 'Modal dialog for store login with password',
    modal_content: password_content,
    modal_visible: modal_visible
  %}
</div>

{% render 'vite-tag' with '@/scripts/sections/main-password.js' %}

{% schema %}
  {
    "name": "Main Password",
    "settings": [
      {
        "type": "header",
        "content": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "password_background_image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Signup Form"
      },
      {
        "type": "checkbox",
        "id": "password_include_subscribe",
        "label": "Subscribe Form",
        "default": false
      }
    ],
    "enabled_on": {
      "templates": ["password"]
    }
  }
{% endschema %}
